// // Mobile header/navigation
@use '../../variables/global-vars';
@use 'mixins';
$primary: global-vars.$primary;

@keyframes slideIn {
    from {
        translate: 100%;
    }

    to {
        translate: 0%;
    }
}

@keyframes slideOut {
    from {
        translate: 0%;
    }

    to {
        translate: 100%;
    }
}


@media (max-width: 777px) {
    #first[aria-expanded="true"] {
        margin-top: 160px;
    }

    .nav-bar-mobile {
        display: none;
        margin-top: 120px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        gap: 4px;
        padding-bottom: 10px;
        padding-top: 8px;
        opacity: 1;
        scale: 1;
        right: 0;

        border-bottom: solid 4px;
        border-bottom-color: currentcolor;
        border-color: #038721;

        animation: slideIn 300ms;
        transition-behavior: allow-discrete;
    }


    .nav-bar-mobile-expanding {
        margin-top: 120px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        gap: 4px;
        padding-bottom: 10px;
        padding-top: 8px;
        opacity: 1;
        scale: 1;
        right: 100;

        border-bottom: solid 4px;
        border-bottom-color: currentcolor;
        border-color: #038721;
        animation: slideIn 300ms;
        transition-behavior: allow-discrete;

    }

    .nav-bar-mobile-collapsing {
        padding-top: 8px;
        margin-top: 120px;
        display: flex;
        position: absolute;
        z-index: 1;
        background-color: #FFF;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        gap: 4px;
        padding-bottom: 10px;
        opacity: 1;
        scale: 1;
        right: 100;

        border-bottom: solid 4px;
        border-bottom-color: currentcolor;
        border-color: #038721;

        animation: slideOut 300ms forwards;
        transition-behavior: allow-discrete;
    }


    .nav-bar-mobile[aria-expanded="true"] {
        padding-top: 8px;
        margin-top: 120px;
        display: flex;
        position: absolute;
        z-index: 1;
        background-color: #FFF;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        gap: 4px;
        padding-bottom: 10px;
        opacity: 1;
        scale: 1;
        right: 100;
        border-bottom: solid 4px;
        border-bottom-color: currentcolor;
        border-color: #038721;
        animation: slideIn 300ms;
        transition-behavior: allow-discrete;
    }

    .nav-bar {
        margin-top: 887px;
        display: none !important;
    }

    .burger-container {
        position: absolute;
        top: 42px;
        right: 8px;
        z-index: 9999;
    }


    .mobile-link {
        text-decoration: underline;
        text-decoration-color: rgba(0, 0, 0, 0);
        text-underline-offset: 4px;
        transition: text-decoration-color 150ms, text-underline-offset 150ms;

        justify-content: center;
        align-items: center;
        gap: 10px;
        display: inline-flex;
        padding-bottom: 10px;
        text-align: center;
        @include mixins.text-properties($font-size: 20px, $font-weight: 300, $color: global-vars.$nav-link-text-colour);
        /* 36.55px */

    }

    .hamburger-btn {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: none;
        z-index: 999;
        
    }

    .hamburger-btn[aria-expanded="true"] {

        .line {
            transition: transform global-vars.$hamburger-anim-time ease-in, rotate global-vars.$hamburger-anim-time ease-in global-vars.$hamburger-anim-time, opacity 0ms global-vars.$hamburger-anim-time;
        }

        .bottom {
            opacity: 0;
            transform: translateY(-20px);
        }

        .top {
            rotate: 45deg;
            transform: translateY(20px);
        }

        .middle {
            rotate: -45deg;

        }

        

    }


    .line {
        transition: transform global-vars.$hamburger-anim-time ease-in global-vars.$hamburger-anim-time, rotate global-vars.$hamburger-anim-time ease-in, opacity 0ms global-vars.$hamburger-anim-time;
        transform-origin: center;
    }





    .highlight-hamburger {
        animation: hamburger-flash 1s ease;
    }

    @keyframes hamburger-flash {
        0% {
            box-shadow: 0 0 0px 0px rgba(255, 100, 100, 0.9);
        }

        50% {
            box-shadow: 0 0 10px 4px rgba(255, 100, 100, 0.9);
        }

        100% {
            box-shadow: 0 0 0px 0px rgba(255, 100, 100, 0.9);
        }
    }
}