{% extends 'base.html' %}
{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  {%- block html %}
  <head>
    {%- block head %}
    {{ super() }}
    <title>{% block title %}{{ title|default }}{% endblock title %}</title>

      {%- block metas %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- endblock metas %}

      {%- block head_scripts %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
          href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
      {%- endblock head_scripts %}

      {%- block styles %}
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/admin.css">
      {%- endblock styles %}
    {%- endblock head %}
  </head>

{% block header %}
  <div class="header" id="scrollTop">
      <div class="header-logo-container">
          <a href="/HDPSC-admin-panel" rel="home" id="homeLogo">
              <img class="logo" src="/static/images/logo.png" alt="Logo home" />
          </a>
          <div class="logo-text">
            Hastings & District <br> Palestine <br> Solidarity <br> Campaign
          </div>
      </div>
      
      {% block nav %}{% endblock %}
  </div>
{% endblock %}

  <body{% block body_attribs %}{% endblock body_attribs %}>
    <div class="main-content">
      {% block body -%}

        {% block navbar %}
        {%- endblock navbar %}
        {% block content -%}
        {%- endblock content %}

        {% block scripts %}
        {%- endblock scripts %}
      {%- endblock body %}
      {% block footer %}
      {% endblock %}
    </div>
  </body>
  {%- endblock html %}
</html>
{% endblock doc -%}