// place common variables here for easy modification

$bg-primary: #f9f8f6;
$bg-secondary: #edeff1;
$primary: #038721;
$nav-link-text-colour: #038721;
$nav-link-hover-transition-in: 250ms;
$nav-link-hover-transition-out: 150ms;
$font: PT Sans;
$hamburger-anim-time: 200ms;
$secondary: #bd1000;