@use '../../variables/global-vars';
@use '../base/mixins';
$card-hover-transition: 180ms;
$card-text-background: #FFF;
$primary: global-vars.$primary;
$bg-primary: global-vars.$bg-primary;
$bg-secondary: global-vars.$bg-secondary;

@media (max-width: 511px) {
     .banner {
        @media not print {
            .shrinkToFit {
                cursor: zoom-in;
            }
        }

        background-color: #70bcdb;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        aspect-ratio: 842/291;
        max-width: unset !important;
        min-height: unset !important;
        max-height: fit-content;
        background-image: url('/static/images/banner.jpg');
        background-repeat: no-repeat;
        background-position: 50% 120px;
        background-attachment: fixed;
        background-size: contain;
        display: flex;
        position: relative;

    }
}


@media (max-width: 777px) {
    
    #first[aria-expanded="true"] {
            margin-top: 360px;
        }
    .main-content[aria-expanded="true"] {
        flex: 1 1 0;
        align-self: stretch;
        background: global-vars.$bg-primary;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        padding-top: 0;
    }

    .main-content {
        flex: 1 1 0;
        align-self: stretch;
        background: global-vars.$bg-primary;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        padding-top: 120px;
    }


    .banner {
        @media not print {
            .shrinkToFit {
                cursor: zoom-in;
            }
        }

        background-color: #70bcdb;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        aspect-ratio: 842/291;
        max-width: 2916px;
        min-height: 176px;
        max-height: fit-content;
        background-image: url('/static/images/banner.jpg');
        background-repeat: no-repeat;
        background-position: 50% 120px;
        background-attachment: fixed;
        background-size: contain;
        display: flex;
        position: relative;

    }

    .banner[aria-expanded="true"] {
        background-position-x: 50%;
        background-position-y: 50%;
        background-attachment: unset;
        background-size: contain;
    }


    .banner-content {
        box-sizing: border-box;
        width: 100%;
        min-height: 1px;
        color: rgb(255, 255, 255);
        line-height: 1.45;
        text-align: center;
        // backdrop-filter: blur(2px); 

    }

    .banner-bg {
        width: 100vw;
        background: $bg-secondary;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        overflow-x: hidden;
    }

    .content-section-primary {
        background: $bg-primary;
        width: 100%;
        flex: 1 0 auto;
        top: 0;
    }

    .content-section-secondary {
        background: $bg-secondary;
        width: 100%;
        flex: 1 0 auto;
    }


}


@media (max-width: 480px) {
  .card-container {
    width: 90vw; /* or something smaller */
    margin-right: 0;
  }
}