@use 'components/base/base-small';
@use 'components/base/base-large';

@use 'variables/global-vars';
@use 'components/base/mixins';

$primary: global-vars.$primary;

@keyframes slideIn {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


html,
body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    background: #373d3f;
    color: #FFF;
    align-content: space-between;
    font-size: 14px;
    font-family: global-vars.$font;
    line-height: 24.37px;

}

.copyright {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.footer-links {
    padding: 16px;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: $primary;
    text-decoration: underline;
    text-decoration-color: transparent; // Use transparent instead of rgba(255,255,255,0)
    text-underline-offset: 4px;
    transition: text-decoration-color global-vars.$nav-link-hover-transition-out, text-underline-offset global-vars.$nav-link-hover-transition-out;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
    text-decoration-color: $primary;
    text-underline-offset: 4px;
    transition: text-decoration-color global-vars.$nav-link-hover-transition-in, text-underline-offset global-vars.$nav-link-hover-transition-in;
}

.nav-link-active {
    color: global-vars.$nav-link-text-colour;
    font-weight: bold;
    text-underline-offset: 4px;
}

.nav-link-cta {
    color: #FFF;
    text-decoration: none;
    transition: text-decoration-color global-vars.$nav-link-hover-transition-out, text-underline-offset global-vars.$nav-link-hover-transition-out;
}

.nav-link-cta:hover,
.nav-link:focus {
    color: #FFF;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #FFF;
    transition: text-decoration-color global-vars.$nav-link-hover-transition-in, text-underline-offset global-vars.$nav-link-hover-transition-in;
}

.back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 8px;
    background: transparent;
    border: none;
    z-index: 9999;
    opacity: 0.8;
    filter: drop-shadow(1px 1px 1.5px black);
}

.skip-to-main {
    position: absolute;
    top: 0px;
    left: -9999px;
    z-index: 99999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
}

.skip-to-main:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

#main {
    scroll-margin-top: 120px; // match your nav/header height
}