{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>Hastings & District Palestine Solidarity Campaign</title>
<link rel="canonical" href="https://www.hastingspalestinecampaign.org/articles/test-article" />
<meta name="description" content="DESCRIPTION HERE">
<meta name="twitter:title" content="Articles - H&D PSC">
<meta name="twitter:description" content="DESCRIPTION HERE">
<meta name="og:title" content="Articles - H&D PSC">
<meta name="og:description" content="DESCRIPTION HERE">
<meta name="keywords" content="palestine,hastings,district,PSC,al-mawasi,solidarity,campaign,">
<link rel="stylesheet" href="/static/css/article.css">
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block admin_header %}
{% endblock admin_header %}

{% block nav %}
{{ super() }}
{% endblock %}


{% block body %}
<div id="first" class="section-content">


    <h1 id="main">COUNCIL LEADER SLAMS ISRAEL'S 'INHUMANE' ATTACK ON AL MAWASI</h1>

    <figure>
        <div class="figure-wrapper">
            <img class="article-fig-img" src="/static/images/testartimage1.jpg">
            <figcaption class="article-caption">
                Press release by Hastings and District Palestine Solidarity Campaign. 11 September 2024.
                Articles following the release in the Skwawkbox and the Hastings Observer.
            </figcaption>
        </div>
    </figure>

    <p>The leader of Hastings Borough Council has condemned Israel's bombing of a tented encampment of displaced
        families in Al Mawasi, Gaza as 'inhumane.' Julia Hilton, leader of the Green Party in the East Sussex town, was
        responding to demands for action from a coalition of local groups in a statement released yesterday after the
        area was struck by five 2,000 bombs, killing 40 and leaving a 30 foot crater in the sand.</p>
    <p>'For the last three years the people of Hastings have developed close cultural, educational and friendship links
        with the people of Al Mawasi,' the statement read: 'We cannot stand by while our friends are massacred in cold
        blood.</p>
    <p>Penned by Hastings & District Palestine Solidarity Campaign (HDPSC) and signed by the Hastings Trades Union
        Council, Hastings Jews for Justice, Amnesty International, Hastings & Bexhill and Hastings Friends of Al Mawasi
        among others, the statement went on: 'People of conscience in Hastings and around the world have had enough of
        this slaughter.</p>
    <p>'We are sickened, enraged and determined to do everything in our power to stop any more innocent lives being
        taken. We demand our leaders do the same.'</p>
    <p>
        Later that same day an emergency protest outside Hastings Borough Council offices drew a crowd of 40 in the
        pouring rain where HDPSC branch secretary Laurie Holden read a message from a friend in Al Mawasi who had
        miraculously survived the bombing.</p>
    <p>The message said: 'Our dear friends, we are fine, thank god. But we are in great pain because the massacre can
        only be described as genocide. There are entire families that have disappeared.
    </p>
    <p>
        'They are about a kilometre away from us but the place we are in rose from the ground and shook from the
        intensity of the bombing. Strange and very powerful bombs.'</p>
    <p>Ahead of the protest, Council leader Hilton released a statement on behalf of the Hastings Green Group stating
        they were 'shocked and saddened to hear of the attack on a designated safe zone in the al-Mawasi area of Khan
        Younis.'</p>
    <p>The statement went on to say that the Green Party recognised the current Israeli government as an apartheid state
        and that its military operations against the Palestinian people were acts of 'genocide.'</p>
    <p>It affirmed the party's support for Boycott, Divestment and Sanctions (BDS) and stated the party would continue
        to press the UK government to suspend all arms export licenses to Israel.</p>
    <p>
        'We recognise that, for several years now, the local group, Hastings Friends of al-Mawasi, has been fostering a
        close partnership with residents in al-Mawasi,' it said. 'Recent funds raised by the people of Hastings have
        been sent directly to al-Mawasi, for tents and other basic essentials, to help the thousands of displaced people
        sheltering there.
    </p>
    <p>'We condemn the inhumane attack on this community, a supposed humanitarian safe zone, and we extend our deepest
        condolences to the families and friends of all who have been touched by this tragedy.'
    </p>
    <p>
        The coalition had also reached out to the Labour MP for Hastings & Rye Helena Dollimore but at the time of going
        to press, she had not responded.
    </p>
    <div class="article-img-container">
        <img class="article-img" src="/static/images/testartimage2.jpg">
    </div>

</div>
{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}