{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>HDPSC Admin Panel</title>
<link rel="stylesheet" href="/static/css/admin.css">

{% endblock %}
{% block admin_header %}
{{ super() }}
{% endblock admin_header %}

{% block header %}
{% endblock header %}


{% block body %}


<h1> {{ current_user.email }} </h1>
<ul>
    <li> <a href="/HDPSC-admin-panel/post-article"> Post new article </a></li>
    <li> <a href="/HDPSC-admin-panel/post-newsletter"> Post new newsletter </a></li>
    <li> <a href="/HDPSC-admin-panel/manage-files"> Manage Articles and Newsletters </a></li>
</ul>
<hr>
<ul>
    {% if current_user.roles|selectattr('name', 'in',['admin', 'superuser'])|list %}
    <li>
        <a href="/HDPSC-admin-panel/manage-users">
            Manage Users
        </a>
    </li>
    {% endif %}

    <li> <a href="/change"> Change password </a> </li>
    <li> <a href="/wan-register"> Manage hardware keys </a> </li>
    <li> <a href="/logout?next=/HDPSC-admin-panel"> Logout </a></li>
</ul>





{% endblock %}


{% block footer %}
{% endblock %}