{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>About Us - Hastings & District Palestine Solidarity Campaign</title>
<link rel="canonical" href="https://www.hastingspalestinecampaign.org/articles/test-article" />
<meta name="description" content="DESCRIPTION HERE">
<meta name="twitter:title" content="About Us - H&D PSC">
<meta name="twitter:description" content="DESCRIPTION HERE">
<meta name="og:title" content="About Us - H&D PSC">
<meta name="og:description" content="DESCRIPTION HERE">
<meta name="keywords" content="palestine,hastings,district,PSC,al-mawasi,solidarity,campaign,">
<link rel="stylesheet" href="/static/css/article.css">
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block admin_header %}
{% endblock admin_header %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="section-content">
        <h1> Hastings Friends of Al-Mawasi, Gaza</h1>
        <h2> Building friendship links with Palestine </h2>
        <hr>
        <h2> Petition </h2>

        <p>Petition to call on Hastings Borough Council to formally twin Hastings with Al-Mawasi. <a
                href="https://www.change.org/p/hastings-borough-council-town-twinning-between-hastings-and-al-mawasi-in-gaza">
                Petition here. </a> There is also a petition in paper form available at our information stalls and meetings.
        </p>
        <hr>

        <h2> GIVE IT UP FOR GAZA </h2>
        <p>
                This Spring we're asking everyone to Give It Up For Gaza....give up something you can afford to do without, in
                order to give kids in Gaza access to education again. This campaign has now finished. Thanks to everyone who
                gave support. We raised £3,184.
        </p>
        <p>
                The local school in Al-Mawasi, like most of the other civil infrastructure of Gaza, such as electricity, water,
                hospitals and healthcare has been destroyed. The people in the local community plan to convert their community
                centre - called the 'safe space' - into a makeshift school. They want to pay teachers to provide lessons for the
                youngest children who find online learning difficult. This will give these children some chance of normality and
                stability after nearly a year and a half of displacement and bombings.
        </p>
        <p>
                So whether it's a pint of beer, or a bar of chocolate, or even your BBC TV licence - if you can Give it up for
                Gaza then donate the money saved to Al-Mawasi today, and be part of the Palestinian struggle to resist and
                rebuild!' March 2025.
        </p>



</div>
{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}