{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>{{ title }} - Hastings & District Palestine Solidarity Campaign</title>
<link rel="canonical" href="https://www.hastingspalestinecampaign.org/articles/test-article" />
<meta name="description" content="DESCRIPTION HERE">
<meta name="twitter:title" content="Articles - H&D PSC">
<meta name="twitter:description" content="DESCRIPTION HERE">
<meta name="og:title" content="Articles - H&D PSC">
<meta name="og:description" content="DESCRIPTION HERE">
<meta name="keywords" content="palestine,hastings,district,PSC,al-mawasi,solidarity,campaign,">
<link rel="stylesheet" href="/static/css/article.css">
<script  nonce="{{ nonce }}" defer src="/static/js/HPSC.min.js"></script>
<script nonce="{{ nonce }}" defer src="/static/js/mobile-nav.min.js"></script>
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block admin_header %}
{% endblock admin_header %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="section-content">

<h1 id="main">{{ title }}</h1>
    {% for block in blocks %}
        {% if block.type == 'heading' %}
            <h2>{{ block.content }}</h2>
        {% elif block.type == 'paragraph' %}
            <p>{{ block.content }}</p>

        {% elif block.type == 'image' %}
            <div class="article-img-container">
                <img class="article-img" src="{{ block.image }}" alt="{{ block.alt_text }}">
            </div>
        {% elif block.type == 'figure' %}
            <figure>
                <div class="figure-wrapper">
                    <img class="article-fig-img" src="{{ block.image }}" alt="{{ block.alt_text }}">
                    <figcaption class="article-caption">{{ block.content }}</figcaption>
                </div>
            </figure>
        {% endif %}
    {% endfor %}

</div>
{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}