{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>Hastings & District Palestine Solidarity Campaign</title>
<link rel="canonical" href="https://www.hastingspalestinecampaign.org/articles/test-article" />
<meta name="description" content="DESCRIPTION HERE">
<meta name="twitter:title" content="Articles - H&D PSC">
<meta name="twitter:description" content="DESCRIPTION HERE">
<meta name="og:title" content="Articles - H&D PSC">
<meta name="og:description" content="DESCRIPTION HERE">
<meta name="keywords" content="palestine,hastings,district,PSC,al-mawasi,solidarity,campaign,">
<link rel="stylesheet" href="/static/css/article.css">
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
<nav class="nav-bar">
    <div class="header-link-container">
        <div class="header-link"><a class="nav-link" href="/about">About Us</a></div>
    </div>
    <div class="header-link-container">
        <div class="header-link"><a class="nav-link" href="/al-mawasi">Al-Mawasi</a></div>
    </div>
    <div class="header-link-container">
        <div class="header-link"><a class="nav-link" href="/boycott">Boycott</a></div>
    </div>
    <div class="header-link-container">
        <div class="header-link"><a class="nav-link" href="/shop">Shop</a></div>
    </div>
    <div class="header-link-container">
        <div class="header-link-cta-p"><a class="nav-link-cta" href="/join">Join Us</a></div>
    </div>
    <div class="header-link-container">
        <div class="header-link-cta-s"><a class="nav-link-cta" href="/donate">Donate</a></div>
    </div>
</nav>

<nav class="nav-bar-mobile" id="mobile">
    <span class="mobile-link"><a class="nav-link" href="/about">About Us</a></span>
    <span class="mobile-link"><a class="nav-link" href="/resources">Al-Mawasi</a></span>
    <span class="mobile-link"><a class="nav-link" href="/sources">Boycott</a></span>
    <span class="mobile-link"><a class="nav-link" href="/shop">Shop</a></span>
    <span class="mobile-link"><a class="nav-link" href="/join">Join Us</a></span>
    <span class="mobile-link"><a class="nav-link" href="/donate">Donate</a></span>
</nav>
{% endblock %}


{% block body %}
<div class="section-content">

<h1 id="main">{{ title }}</h1>
    {% for block in blocks %}
        {% if block.type == 'heading' %}
            <h2>{{ block.content }}</h2>
        {% elif block.type == 'paragraph' %}
            <p>{{ block.content }}</p>
        {% elif block.type == 'image' %}
            <img src="{{ block.image_url }}" alt="{{ block.content }}">
        {% elif block.type == 'figure' %}
            <figure>
                <img src="{{ block.image_url }}" alt="{{ block.content }}">
                <figcaption>{{ block.content }}</figcaption>
            </figure>
        {% endif %}
    {% endfor %}

</div>
{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}