{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>Hastings & District Palestine Solidarity Campaign</title>
<link rel="canonical" href="https://www.hastingspalestinecampaign.org" />
<meta name="description"
    content="Hastings and District Palestine Solidarity Campaign aims to raise public awareness about Israel's occupation of Palestine and the struggle of the Palestinian people against the injustice of Israeli apartheid. We support the Boycott, Divestment and Sanctions (BDS) movement.">
<meta name="twitter:title" content="Hastings and District Palestine Solidarity Campaign">
<meta name="twitter:description"
    content="Hastings and District Palestine Solidarity Campaign aims to raise public awareness about Israel's occupation of Palestine and the struggle of the Palestinian people against the injustice of Israeli apartheid. We support the Boycott, Divestment and Sanctions (BDS) movement.">
<meta name="og:title" content="Hastings and District Palestine Solidarity Campaign.">
<meta name="og:description"
    content="Hastings and District Palestine Solidarity Campaign aims to raise public awareness about Israel's occupation of Palestine and the struggle of the Palestinian people against the injustice of Israeli apartheid. We support the Boycott, Divestment and Sanctions (BDS) movement.">
<meta name="keywords" content="palestine,hastings,district,PSC,al-mawasi,solidarity,campaign,">
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}


{% block header %}
{{ super() }}
{% endblock %}

{% block admin_header %}
{% endblock admin_header %}

{% block nav %}
{{ super() }}
{% endblock %}






{% block body %}

<div id="first" class="content-section-primary">
    <div class="banner-bg">
        <div id="banner" class="banner">
            <div class="banner-content">
                <!-- Removed heading over banner image as it looks ugly and I cant make it look good UI is my passion -->
                <!-- <h1>Hastings & District <br> Palestine Solidarity Campaign</h1>
            <img src="/static/images/logo.png" alt="Hastings and District"> -->

                <br>
                <!-- For arrow down to main body, not needed at current banner height -->
                <!-- <a href="#main" class="arrow-to-content" tabindex="-1" id="toBodyArrow" aria-label="Go to main content">
                <span class="arrow-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-96.7091 -55.1497 68 27">
                        <path
                            d="M-95.0146-48.6054-67.0655-29.973c1.0753.7234 2.5385 1.1297 4.0657 1.1297s2.9916-.4063 4.0669-1.1297l27.9486-18.6324c1.4526-.9684 2.0196-2.3801 1.4879-3.7031-.5317-1.3229-2.0813-2.356-4.0658-2.7104-1.9841-.3545-4.1018.0234-5.5544.9918L-63-38.1816-86.8822-54.0271c-1.0807-.7147-2.5438-1.1126-4.0667-1.1069-1.5219-.0058-2.9851.3922-4.0657 1.1069-1.084.7169-1.6945 1.6932-1.6945 2.7113s.6106 1.9936 1.6945 2.7104Z" />
                    </svg>
                </span>
            </a> -->
            </div>
        </div>
    </div>
    <!-- Section 1: Newsletter -->
    <div class="section-content">

        <div class="card-section-outer-container">

            <div class="content-section-heading content-section-primary  animate-slide-up" id="main">
                <h2>Updates</h2>
                <hr>
                <p>The latest news and updates from Hastings & District Palestine Solidarity Campaign, Subcribe to our
                    newsletter to stay up to date </p>

            </div>

            <div class="layout-card-container" id="newsletter-cards">
                {% for date in newsletters %}
                <a href="/newsletters/{{ date }}">
                    <div
                        class="card-container animate-slide-up newsletter-card {% if loop.index > 3 %}hidden{% endif %}">
                        <div class="card-image-container">
                            <img class="card-image" alt="{{ date }}"
                                src="/static/images/uploaded/thumbs/{{ date }}.jpg">
                        </div>
                        <div class="card-text-container">
                            <div class="card-heading-container">
                                <div class="card-heading">{{ date }}</div>
                            </div>
                            <div class="card-description-container">
                                <div class="card-description"></div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>


            <button id="load-more-btn" class="load-more-button nav-link-cta header-link-cta-p">Load More</button>
            <!-- End section 1 -->

            <!-- Section 2: Articles -->
            <div class="content-section-primary">
                <div class="section-content">
                    <div class="card-section-outer-container">
                        <div class="content-section-heading content-section-primary  animate-slide-up">
                            <h2>Articles</h2>
                            <hr>
                            <p>Writings from H&D PSC</p>
                        </div>
                        <div class="layout-card-container">
                            <!-- card start -->
                            <a href="/articles/test-article">
                                <div class="card-container animate-slide-up">
                                    <div class="card-image-container">
                                        <img class="card-image" alt="placeholder" src="static/images/test1.jpg">
                                    </div>
                                    <div class="card-text-container">
                                        <div class="card-heading-container">
                                            <div class="card-heading">Hastings Three Found Not Guilty In Case Against
                                                General
                                                Dynamics</div>
                                        </div>
                                        <div class="card-description-container">
                                            <div class="card-description">
                                                'There was a genocide going on, the ultimate crime against humanity, and
                                                General
                                                Dynamics was playing a major role in that crime.'</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- card end -->

                            <!-- card start -->
                            <a href="#">
                                <div class="card-container animate-slide-up">
                                    <div class="card-image-container">
                                        <img class="card-image" alt="placeholder" src="static/images/test2.jpg">
                                    </div>
                                    <div class="card-text-container">
                                        <div class="card-heading-container">
                                            <div class="card-heading">Hastings Rally Condemns Israeli Massacre at
                                                Al-Mawasi</div>
                                        </div>
                                        <div class="card-description-container">
                                            <div class="card-description">Council leader slams Israel's 'inhumane'
                                                attack on
                                                Al-Mawasi</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- card end -->

                            <!-- card start -->
                            <a href="#">
                                <div class="card-container animate-slide-up">
                                    <div class="card-image-container">
                                        <img class="card-image" alt="placeholder" src="static/images/test3.jpg">
                                    </div>
                                    <div class="card-text-container">
                                        <div class="card-heading-container">
                                            <div class="card-heading">Delay of 'Hastings3' trial to 2025 described by
                                                campaigners
                                                as...</div>
                                        </div>
                                        <div class="card-description-container">
                                            <div class="card-description">"The pursuit of the Hastings3 was part of a
                                                pattern of
                                                legal harassment locally."</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- card end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
    {% block footer %}
    {{ super() }}
    {% endblock %}